@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
}
@media screen and (max-width: 1200px) {
  .App{
    margin-left: 0;
  }
}
body{
  --orange: #df861d;
  --black: #3d3b3b;
  --small-black: #6d6969;
  --pink: #eb4283;
  --background-black: #f7f9f9;
}
