.bookmark-container{
    display: flex;
    align-items: flex-start;
}
.bookmarks{
    flex: 0.8; 
    display: flex;
    flex-direction: column;
}
.bookmarks-div{
    width: 45em;
    margin-left: -2.5em;
}
.mobile-header{
    display: none !important;
    margin-top: 10px;
    display: flex ;
    align-items: center;
    background-color: white;
}
.mobile-header h1{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 1200px){
    .bookmark-container{
        flex-direction: column;
    }
    .bookmarks-div{
        width: 95vw;
        margin-left: 0;
        margin: 0 auto;
    }
    .bookmarks h2{
        display: none;
    }
    .mobile-header{
        display: flex !important;
    }
}